@import "../shared-styles/variables";
@import "../shared-styles/mixins";

.register-information--form--info {
  padding: 25px 20px 30px 20px;

  &--basic {
    display: flex;
    flex-direction: row;
    justify-content: space-between;
  }

  .firstname-input {
    display: inline-block;
    margin-right: 22px;
    width: 46%;
  }

  .lastname-input {
    display: inline-block;
    width: 46%;
  }

  &-checkbox {
    margin: 30px 0 25px 0;

    &-label {
      font-size: .7rem;

      #terms {
        color: $red;
      }
    }
  }

  &--register-button {
    width: 100%;
    background: #7F00FF;
    color: $primary-color;

    &:hover {
      background-color: #4C0099;
      transition: all 220ms linear;
    }
  }
}

.signup-input, .signup-input-birthday, .signup-input-gender {
  margin: 5px 0;
  border: 1px solid $border-color;
  border-radius: 3px;
}

.signup-input::-webkit-input-placeholder {
  font-size: .9rem;
}

.signup-input {
  padding: 12px 15px;
  width: 100%;
  box-shadow: none;
}

.signup-input-birthday, .signup-input-gender {
  display: inline-block;
  position: relative;
  padding: 3px 15px;
  width: 100%;

  input {
    display:block;
    line-height: 1.2em;
    outline: none;
    border: none;
    color: $gray-800;
  }

  label {
    display: block;
    color: $gray-600;
    font-size: 12px;
  }
}

.signup-input-birthday {
  @include input-icon("\f073");
}

.signup-input-gender {
  @include input-icon("\f0d7");
}

@include responsive-below(lg) {

  .signup-input-gender::after {
    display: none;
  }

  .register-information--form--info--basic {
    display: block;

    .firstname-input, .lastname-input {
      width: 100%;
    }
  }
}

@include responsive-below(sm) {
  #terms {
    display: block;
  }
}
