@import "variables";

.checkbox-custom {
  position: absolute;
  opacity: 0;
}

.checkbox-custom-label {
  position: relative;
  cursor: pointer;
}

.checkbox-custom + .checkbox-custom-label:before {
  display: inline-block;
  margin-right: 5px;
  padding: 2px;
  width: 23px;
  height: 23px;
  content: '';
  background: $checkbox-bg-color;
  border: 2px solid $checkbox-border-color;
  vertical-align: middle;
  text-align: center;
}

.checkbox-custom:checked + .checkbox-custom-label:before {
  width: 23px;
  height: 23px;
  color: $red-color;
  content: "\f00c";
  font-family: ' 5 Free';
  font-weight: 900;
}
