<div>
  <section class="register">
    <div class="register--introduction">
      <h1 class="register--introduction--title">Welcome to the Biggest Social<br> Network in the Word</h1>
      <p class="register--introduction--description">We are the best and biggest social network with 5 billion active
        users all around the world. Share your thoughts, write blog posts, show your favourite music with Spotify, earn
        badges and much more!
      </p>
      <button class="register--introduction--button">
        <span class="register--introduction--button__label">Register now!</span>
      </button>
    </div>
    <div class="register-information" style="background: white;">
      <div class="register-information-action">
        <div class="register-information-action--turn-off">
          <span class="fas fa-power-off"></span>
        </div>
        <div class="register-information-action--turn-on">
          <span class="fas fa-power-off"></span>
        </div>
      </div>
      <div class="register-information--form">
        <h3 class="register-information--form--header">Register to Olympus</h3>
        <form class="register-information--form--info" [formGroup]="user">
          <div class="register-information--form--info--basic">
            <input class="signup-input firstname-input" formControlName="firstname" type="text" placeholder="First name">
            <input class="signup-input lastname-input" formControlName="lastname" type="text" placeholder="Last name">
          </div>
          <input class="signup-input" formControlName="email" type="text" placeholder="Your email">
          <input class="signup-input" formControlName="password" type="text" placeholder="Your password">
          <div class="signup-input-birthday">
            <label for="birthday" >Your Birthday</label>
            <input formControlName="birthday" type="datetime" id="birthday" />
          </div>
          <div class="signup-input-gender">
            <label for="gender" >Your Gender</label>
            <input formControlName="gender" type="text" id="gender" />
          </div>
          <div class="register-information--form--info-checkbox">
            <input id="checkbox-1" class="checkbox-custom" name="checkbox-1" type="checkbox" checked>
            <label for="checkbox-1" class="checkbox-custom-label">
              <span class="register-information--form--info-checkbox-label">
                I accept the
                <a class="register-information--form--info-checkbox-label--terms">
                  Terms and Conditions
                </a>
                of the website
              </span>
            </label>
          </div>
          <button type="button" class="btn register-information--form--info--register-button">
            Complete Registration!
          </button>
        </form>
      </div>
    </div>
  </section>
</div>
