<div class="profile">
  <div class="profile-cover">
    <img src="../../../../assets/images/sunset.jpg" alt="Cover picture" style="width: 100%;height: inherit;object-fit: cover;">
  </div>
  <div class="profile-container">
    <div class="user-section">
      <div class="user-section-content">
        <a class="user-icon">
          <img src="../../../../assets/images/users-profile-icon.png" alt="Profile picture">
        </a>
        <a class="user-name">
          <span class="user-name--full">James Spiegel</span><br>
          <span class="user-name--city">San Francisco, CA</span>
        </a>
      </div>
    </div>
    <div class="profile-navbar">
      <ul class="row profile-navbar-list">
        <li class="col profile-navbar-list-item">Timeline</li>
        <li class="col profile-navbar-list-item">About</li>
        <li class="col profile-navbar-list-item">Friends</li>
        <li class="col profile-navbar-list-item"></li>
        <li class="col profile-navbar-list-item">Photos</li>
        <li class="col profile-navbar-list-item">Videos</li>
        <li class="col profile-navbar-list-item">
          <i class="fas fa-ellipsis-h"></i>
        </li>
      </ul>
      <div class="profile-navbar-buttons">
        <i class="far fa-meh smile"></i>
        <i class="far fa-comments message"></i>
        <i class="fas fa-sliders-h connection"></i>
      </div>
    </div>
  </div>
</div>
