<div class="profile">
  <div class="profile-cover">
    <img src="../../../../assets/images/sunset.jpg" alt="Cover picture" style="width: 100%;height: inherit;object-fit: cover;">
  </div>
  <div class="profile-cover-container">
    <div class="user-section">
      <div class="user-section-content">
        <a class="user-icon">
          <img src="../../../../assets/images/users-profile-icon.png" alt="Profile picture">
        </a>
        <a class="user-name">
          <span class="user-name--full">James Spiegel</span><br>
          <span class="user-name--city">San Francisco, CA</span>
        </a>
      </div>
    </div>
    <div class="profile-navbar">
      <ul class="row profile-navbar-list">
        <li class="col profile-navbar-list-item">
          <a routerLink="/app/profile"
             routerLinkActive="active-link"
             [routerLinkActiveOptions]="{exact: true}">Timeline</a>
        </li>
        <li class="col profile-navbar-list-item">
          <a routerLink="#" routerLinkActive="active-link">About</a>
        </li>
        <li class="col profile-navbar-list-item">
          <a routerLink="#" routerLinkActive="active-link">Friends</a>
        </li>
        <li class="col profile-navbar-list-item"></li>
        <li class="col profile-navbar-list-item">
          <a routerLink="#" routerLinkActive="active-link">Photos</a>
        </li>
        <li class="col profile-navbar-list-item">
          <a routerLink="#" routerLinkActive="active-link">Videos</a>
        </li>
        <li class="col profile-navbar-list-item">
          <i class="fas fa-ellipsis-h"></i>
        </li>
      </ul>
      <div class="profile-navbar-buttons">
        <i class="far fa-meh smile"></i>
        <i class="far fa-comments message"></i>
        <i class="fas fa-sliders-h connection"></i>
      </div>
    </div>
  </div>
</div>
<section class="profile-section">
  <div class="profile-section--left">
    <div class="card badges-article">
      <app-badge-list></app-badge-list>
    </div>
  </div>
  <div class="profile-section--middle">Posts</div>
  <div class="profile-section--right" style="width: 25%; display: inline-block">Article</div>
</section>
