@import "../shared-styles/variables";
@import "../shared-styles/mixins";

.background {
  background: url('../../assets/images/users-bg.png') repeat;
  position: relative;
  height: 100vh;
}

.layer {
  @include font-style(100%, 'Roboto');
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  background-color: $layout-bg-color;
}

.layout-container {
  margin: 30px auto 0 auto;
  width: 60%;
}

.layout-header {
  display: flex;
  justify-content: space-between;

  &--logo--link {
    display: flex;
    color: $layout-font-color-primary;
    text-decoration: none;
    text-transform: uppercase;

    &__icon {
      padding: 5px;
      border-radius: 50%;

      &:hover {
        @include hover-state(.4, $secondary-color, 220ms);
        background-color: $secondary-color;
      }
    }

    &__company {
      margin-left: 13px;
      display: flex;
      flex-direction: column;
      align-self: center;

      &:hover {
        @include hover-state(.6, $secondary-color, 220ms);
        font-weight: 600;
      }

      &__description {
        font-size: 8px;
        margin-top: 2px;
      }
    }
  }

  &--menu--button {
    padding-top: 3px;
    padding-bottom: 3px;
    border: none;
    background: inherit;
    outline: none;
    color: $primary-color;

    &:hover {
      @include hover-state(.4, $secondary-color, 220ms);
    }
  }
}

.layout-content {
  display: flex;
  justify-content: space-between;

  &--introduction {
    margin-right: 1rem;
    width: 60%;
    align-self: center;
    color: $primary-color;

    &--title {
      @include font-style(1.5rem, 'Roboto');
      margin-bottom: 2rem;
      line-height: 1.3;
    }

    &--description {
      margin-bottom: 2rem;
      line-height: 1.5;
      font-size: 0.8rem;
    }

    &--button {
      padding: 8px 30px;
      background-color: transparent;
      border: 2px solid $primary-color;
      border-radius: 3px;
      outline: none;

      &:hover {
        border-color: rgba(0, 0, 0, .5);
        font-weight: 600;

        span {
          @include hover-state(.8, $secondary-color, 150ms);
        }
      }

      &__label {
        vertical-align: middle;
        color: $primary-color;
        font-size: 0.6rem;
      }
    }
  }
}

@include responsive-below(lg) {
  .layout-container {
    width: 98%;
  }

  .layout-header--logo--link {
    margin-left: .4rem;
  }

  .layout-content {
    width: 50%;
    margin: 0 auto;
    flex-direction: column;

    &--introduction  {
      width: 100%;
      margin-right: 0;
    }

    &--introduction {
      margin-top: 2rem;
    }
  }
}

@include responsive-below(md) {
  .layout-content {
    width: 70%;

    &--introduction--title {
      font-size: 2.1rem;
    }
  }
}

@include responsive-below(sm) {
  .layout-content {
    width: 98%;
  }

  #terms {
    display: block;
  }
}

@include responsive-below(xs) {
  .layout-content--introduction--title {

    br {
      display: none;
    }
  }
}
