
@import "../shared-styles/variables";
@import "../shared-styles/mixins";

.background {
  background: url('../../assets/images/users-bg.png') repeat;
  position: relative;
  height: 100vh;
}

.layer {
  @include font-style(100%, 'Roboto');
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  background-color: $layout-bg-color;
}

.layout-container {
  margin: 30px auto 0 auto;
  width: 60%;
}

.layout-header {
  display: flex;
  justify-content: space-between;

  &--logo--link {
    display: flex;
    color: $layout-font-color-primary;
    text-decoration: none;
    text-transform: uppercase;

    &__icon {
      padding: 5px;
      border-radius: 50%;

      &:hover {
        @include hover-state(.4, $secondary-color, 220ms);
        background-color: $secondary-color;
      }
    }

    &__company {
      margin-left: 13px;
      display: flex;
      flex-direction: column;
      align-self: center;

      &:hover {
        @include hover-state(.6, $secondary-color, 220ms);
        font-weight: 600;
      }

      &__description {
        font-size: 8px;
        margin-top: 2px;
      }
    }
  }

  &--menu--button {
    padding-top: 3px;
    padding-bottom: 3px;
    border: none;
    background: inherit;
    outline: none;
    color: $primary-color;

    &:hover {
      @include hover-state(.4, $secondary-color, 220ms);
    }
  }
}

@include responsive-below(lg) {
  .layout-container {
    width: 98%;
  }

  .layout-header--logo--link {
    margin-left: .4rem;
  }
}
