@import "~@angular/material/prebuilt-themes/indigo-pink.css";
@import "~bootstrap/scss/bootstrap";
@import "shared-styles/checkbox";
@import "shared-styles/mixins";
@import './reset';

html {
  @include font-style(62.5%, 'Roboto');
}

body {
  font-size: 1.6rem;
}

.background {
  background: url('../assets/images/users-bg.png') repeat center center fixed;
  height: 100vh;
}

.background-layout {
  background-color: $app-bg-color;
  overflow-x: hidden;
}
