<div class="background">
  <div class="layer">
    <div class="layout-container">
      <header class="layout-header">
        <div class="layout-header--logo">
          <a href="#" class="layout-header--logo--link">
            <img class="layout-header--logo--link__icon" alt="Logo icon" src="../../../assets/images/logo.png"/>
            <span class="layout-header--logo--link__company">
              <span class="layout-header--logo--link__company__name">Olympus</span>
              <span class="layout-header--logo--link__company__description">Social network</span>
            </span>
          </a>
        </div>
        <div class="layout-header--menu"><button class="fa fa-bars layout-header--menu--button"></button></div>
      </header>
    </div>
    <div class="layout-container">
      <router-outlet></router-outlet>
    </div>
  </div>
</div>
